# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\FPT_PolyTechnic\KY5_SP23\BLOCK2\SOF3011_Java4\CODE\317\HomeWork\BTVN_Buoi5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
